<h3>Sign in</h3>

<form action="/admin" method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" name="password" >

    <input type="submit" class="btn" value="Sign In">
</form>

<h3>Register</h3>

<form action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" name="password" >

    <input type="submit" class="btn" value="Register">
</form>